*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.sln
*.suo
*.zip
*.pyc
.env
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
node/node_modules
bower_components
.sass-cache
dist/
server/
common/
client/
app/styles/*.css
app/css/*.css
app/css/views/*.css
node_modules*
package-lock.*
